$map-colors: (
	colorUderline:(#FF4E33),
	colorHeaderText:(#fff),
	colorBtm:(#E3AC00),
	colorWhite:(white),
	colorText:(#a0a0a0)
);
$backgroundImage : url(../img/m-h-night.jpg);
$gradient:linear-gradient(45deg, #E1A902, #942E51);
$fontMain:'Source Sans Pro', sans-serif;
$logoColor:#fff;
$logoColorBaner:$logoColor;
$bodyBag:#21232E;
$footerBag:#3B3F50;